@font-face {
    font-family: "iranSans";
    src: url("../assets/font/IRANSansWeb.ttf");
}

:root {
    --primaryColor: #6d28d9;
    --secondaryColor: #ede9fe;
    --mainWhite: #fff;
    --mainBlack: #222;
    --mainGrey: #7c7c7c;
    --mainSpacing: 0.1rem;
    --mainTransition: all 0.3s linear;
    --mainRed: #db2777;
    --bodyColor: #f6f6f6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--mainBlack);
    background: var(--mainWhite);
    font-family: "iranSans";
    background-color: var(--bodyColor);
    /* position: relative; */
    /* height: 500vh; */
}

